@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animateMarquee {
  animation: marquee 30s linear infinite;
  display: flex;
  gap: 15rem;
  width: 100%;
  animation-play-state: running;
  cursor: pointer;
  font-weight: bold;
}

.animateMarquee:hover {
  animation-play-state: paused;
}

.animationWrapper {
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;
}

@media screen and (max-width: 780px) {
  .animateMarquee {
    animation: marquee 15s linear infinite;
  }
}